In [11]:
import pandas as pd


csv = pd.read_csv("actors.csv", delimiter=";")

In [12]:
csv.head()

   actorid                  name sex
0        4            $hort, Too   M
1       16    'Bear'Boyd, Steven   M
2       28  'Dead End' Kids, The   M
3      566        Aaby, Kristian   M
4      580                 Aadil   M

In [21]:
csv[csv["name"].apply(lambda x: "robert" in x.lower() and "carlyle" in x.lower())]

      actorid                 name sex
9184   244663  Carlyle, Robert (I)   M

In [1]:
a = [2,1,4]

In [19]:
def calculateMaxMinusMinOfAllSubsequence2(a):
    
    max_val = 0
    min_val = 0

    for i in range(len(a)):
        for j in range(i, len(a)):

            max_val += max(a[i:j+1])
            min_val += min(a[i:j+1])
        
    return max_val - min_val

In [18]:
calculateMaxMinusMinOfAllSubsequence2(a)

2 2 0 0
2 1 0 1
2 4 0 2
1 1 1 1
1 4 1 2
4 4 2 2
17 10

7